body {
	background-image: url("https://i.imgur.com/96JzcPV.jpg");
	font-family: Fantasy;
}

#image{
    position: relative;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes slidein {
  from {
    margin-left: 10%; 
  }

  to {
    margin-left: 70%;
  }
}

button {
	margin:20px;
	text-align: center;
	border-radius:20px;
	padding: 20px;
	font-family: fantasy;

}

h1, aside {
	text-align: center;
	padding:15px;
	margin:10px;
	border-radius: 20px;
	font-family: fantasy;
}

.container {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.Metrics {
	padding: 30px;
	
	margin: auto;
  	width: 130px;
	border-style: outset;
	border-width: 4px 6px 6px 4px;

	background-color: tan;
	text-align: left;
}

